{% extends 'base.html.twig' %}

{% block body %}
    <style>

    .center_style{
        background-color: #b0e67d;
    }

    </style>


    <div class="container center_style" style="padding: 10px;">
        <div class="row" style="padding-bottom: 10px">
            <div class="col-8"></div>
            <div class="col">
                {{ form_start(form) }}
                {{ form_widget(form) }}
                {{ form_end(form) }}
            </div>

        </div>
        {% include 'header.html.twig' %}
        {% for  section in sections_list %}
            <div class = "row" style="border-style: ridge" style="padding-left: 5px">
                <div class="col-6" style="padding: 5px">
                    <a href="/section/{{ section.id }}">{{ section.name }}</a>
                </div>
            </div>
        {% endfor %}


    </div>

</div>

{% endblock %}
