{% extends 'base.html.twig' %}
{% block body %}
    <div class="container" style="padding: 10px;">
        <div class="row" style="padding-bottom: 10px">
            <div class="col-6">
                {{ form_start(form) }}
                {{ form_widget(form.question) }}
            </div>
            <div class="col-4">
                {{ form_widget(form.filter) }}
            </div>
            <div class="col-2">
                {{ form_widget(form.save) }}
                {{ form_end(form) }}
            </div>
        </div>
        {% for  section in sections_list %}
            <div class="list-group" style="text-align: center">
                <a href="/section/{{ section.id }}" class="list-group-item list-group-item-action">{{ section.name }}
                </a>
            </div>
        {% endfor %}
    </div>
{% endblock %}