{% extends 'base.html.twig' %}


{% block body %}

    <div class="container center_style">
        {% include 'header.html.twig' %}
        <div class="row">
            <div class="col-4"><a href="{{ path('form',{'id': topic.section.getId}) }}">{{ topic.section.name }} </a> <a href="{{ path('form',{'id': topic.id}) }}">{{ topic.name }}</a></div>
        </div>
        <div class="row">
            <div class="col-4">Author</div>
            <div class="col-4">Text</div>
            <div class="col-4">Date</div>
        </div>
{% for message in messages %}
    <div class="row">

        <div class="col-2" style="border-style: inset">Author:{{ message.author.username }}<img src="/uploads/{{ message.author.getImage() }}" width="150px" height="150px"></div>
        <div class="col-4">{{ message.text }}</div>
        <div class="col-4" style="border-style: inset">{{ message.date }}</div>
    <div class="col-2">
        {% if is_granted('ROLE_ADMIN')  or message.isAuthorofMessage(user_id)%}
            <a href="/edit/message/{{ message.id }}">edit</a>
            <a href="/delete/message/{{ message.id }}">delete</a>
        {% endif %}

    </div>
    </div>

{% endfor %}
        {% if is_granted('ROLE_USER') or is_granted('ROLE_ADMIN') %}
    {{ form_start(form) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}
        {% else %}
        <h3>Log In to write messages</h3>
        {% endif %}
    </div>
{% endblock %}