{% extends 'base.html.twig' %}


{% block body %}
    <div class="container center_style">
        {% include 'header.html.twig' %}
        <div class="row">
            <div class="col-4">Topic: {{ topics_list.name }}</div>
        </div>
        <div class="row">
            <div class="col-4">Author</div>
            <div class="col-4">Text</div>
            <div class="col-4">Date</div>
        </div>
{% for message in messages %}
    <div class="row" style="border: 4px double black;"  >
        <div class="col-2">
        {% if is_granted('ROLE_ADMIN') %}
            <a href="/edit/message/{{ message.id }}">EDIT</a>
            <a href="/delete/message/{{ message.id }}">DELETE</a>
        {% elseif message.isAuthorofMessage(user_id) %}
            <a href="/edit/message/{{ message.id }}">EDIT</a>
            <a href="/delete/message/{{ message.id }}">DELTE</a>
        {% endif %}
    </div>
        <div class="col-2" style="border-style: inset">Author:{{ message.author.username }}<img src="https://picsum.photos/100/100/?random"></div>
        <div class="col-4">{{ message.text }}</div>
        <div class="col-4" style="border-style: inset">{{ message.date }}</div>

    </div>

{% endfor %}
        {% if is_granted('ROLE_USER') or is_granted('ROLE_ADMIN') %}
    {{ form_start(form) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}
        {% else %}
        <h3>Log In to write messages</h3>
        {% endif %}
    </div>
{% endblock %}