{% extends '_base.html.twig' %}
{% block body %}
    <div class="container">
        {% if filter == 1 %}
            <div class="row">
                <div class="list-group col-12" style="text-align: center">
                {% for result in results %}
                      <a href="{{ path('list',{'id': result.1}) }}" class="list-group-item list-group-item-action">{{ result.text }}</a>
                {% endfor %}
                </div>
            </div>
        {% elseif filter == 2 %}
            <div class="row">
            {% for result in results %}
                <div class="list-group col-12" style="text-align: center">
                    <a href="{{ path('list',{'id': result.1}) }}" class="list-group-item list-group-item-action">{{ result.name }}</a>
                </div>

            {% endfor %}
            </div>
        {% elseif filter == 3 %}
            <div class="row">
                <div class="col-6 list-group">
                    {% for message in results.0 %}
                    <a href="{{ path('list',{'id': message.1}) }}" class="list-group-item list-group-item-action">{{ message.text }}</a>
                    {% endfor %}
                </div>
                <div class="col-6 list-group">
                    {% for topic in results.1 %}
                        <a href="{{ path('list',{'id': topic.1}) }}" class="list-group-item list-group-item-action">{{ topic.name }}</a>
                    {% endfor %}
                </div>
            </div>
        {% endif %}
    </div>
{% endblock %}