{% extends '_base.html.twig'%}
{% block body %}
<br>
<div class="container" style="outline: solid">
    <br>
    <div class="btn-group" role="group" aria-label="QQ">
        <a href="{{ path('changeAvatar') }}" class="btn btn-secondary">Change Avatar
        </a>
        <a href="{{ path('edit_user') }}" class="btn btn-secondary">Edit User Name and Email
        </a>
        <a href="{{ path('changePassword') }}" class="btn btn-secondary">ChangePassword
        </a>
    </div>
    <div class="row">
        <div class="col-md-3 col-md-offset-5">
            <h1>User Name: {{ user.username }}
            </h1>
        </div>
        <div class="col-3">
            <h4>Email: {{ user.email }}
            </h4>
        </div>
        <div class="col-3">
            Status:  {{ user.roles[0] }}
        </div>
    </div>
    <div class="row" style="padding-left: 30px">
        <img src="/uploads/{{ user.image }}" alt="Picture not Found" width="300px" height="300px" style="outline: solid">
    </div>
    {% endblock %}
